:root {
	font-family:
		Ysabeau Infant,
		Segoe UI,
		sans-serif;
	font-size: calc(1.2em + 0.2vw);
	font-weight: 520;
}

body {
	margin: 0;
	padding: 0;
}

p,
ul,
ol,
table,
blockquote,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1rem 0;
	line-height: 150%;
}

strong,
b {
	font-weight: 800;
}

h1 {
	font-weight: 800;
	text-align: center;
	font-size: calc(1.8rem + 0.7vw);
	margin: 0 0 2rem 0;
	line-height: 150%;
}
h2 {
	font-weight: 750;
	font-size: 1.66rem;
}
h3 {
	font-size: 1.45rem;
}
h4 {
	font-size: 1.3rem;
}
h5 {
	font-size: 1.2rem;
}
h6 {
	font-size: 1.1rem;
}

.subtitle {
	font-weight: 520;
	font-size: 0.75em;
	line-height: 1em;
}

a {
	color: #003bc6;
	font-weight: 550;
	text-underline-offset: 4px;
	text-decoration-thickness: 1.4px;

	&:hover,
	&:focus {
		color: #0b54ff;
		text-decoration-color: magenta;
	}
}

.formi {
	box-sizing: border-box;
	border: 1.2px solid #b1b1b1;
	border-radius: 7px;
	background-color: white;
	font: inherit;
	font-size: 0.95rem;
	padding: 10px 12px;
	transition: border-color 0.2s;
	width: 100%;
	resize: vertical;

	&:hover,
	&:focus {
		border-color: #70b3fa;
	}

	&:focus-visible {
		outline: 3px solid #70b3fa;
		outline-offset: -1px;
	}

	&.invalid {
		border-color: #ff3131;
		outline: 2px solid #ff3131;
		outline-offset: -1px;
	}
}

button.formi {
	background-color: #eee;
	border: 1px solid #ddd;
	transition:
		border-color 0.2s,
		background-color 0.2s;

	&:hover,
	&:focus {
		border-color: #70b3fa;
		background-color: #badbff;
	}

	&:focus-visible {
		outline: 3px solid #70b3fa;
		outline-offset: -1px;
	}

	&.primary {
		background-color: #006dcd;
		color: white;
		font-weight: 750;
		letter-spacing: 0.01em;
		border: none;

		&:hover,
		&:focus {
			background-color: #00529a;
		}

		&:focus-visible {
			outline: 3px solid #70b3fa;
			outline-offset: 0;
		}

		&.disabled {
			background-color: #000a;
		}
	}
}
